.containerap {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Annonces Profile";
      /* grid-template-rows: 1fr min-content */
  }
  
  .Annonces { grid-area: Annonces; }
  
  .Profile { grid-area: Profile; }

.Profile {
    border: 1px solid rgb(202, 209, 217);
    border-radius: 0.8rem;
    display: flex;
    text-align: center;
    margin-top: 50%;
    margin-left: 25%;
    width: 40%;
    margin: auto; 
    margin-top: 25%;
  }
  .Annonces {
    border: 1px solid rgb(202, 209, 217);
    border-radius: 0.8rem;
    display: flex;
    text-align: center;
    margin-top: 50%;
    margin-left: 25%;
    width: 40%;
    margin: auto;
    margin-top: 25%;
  }
  .pp{
    width: 100px;
    border-radius: 50%;
    justify-content: start;
    overflow: hidden;

  }
  .profrect{
    display:flex;
    flex-direction: column;
    color: var(--black);
    align-items: flex-start;
  }
  .username {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .Profile a {
    color: #4183d7;
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 2rem;
    min-width: 4rem;
    background-color: #fff;
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
    transition: background-color .3s,color .3s;
   
  }
  h3{
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--black);
  }
.textann{
  color: var(--black);
}